.chat{
    display: flex;
    flex-direction: column;
    flex: 0.75;
}
.chat_header{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}
.chatHeader_info{
    flex: 1;
    padding-left: 20px;
}
.chatHeader_info >h3{
    font-weight: 500;
    margin-bottom: 3px;
}
.chatHeader_info >p{
    color: gray;
}
.chat_body{
    flex: 1;
    background-image: url("https://demo.nparoco.com/Vuexy/app-assets/images/backgrounds/chat-bg-2.png");
    background-repeat: repeat;
    background-position:center;
    padding: 30px;
    overflow: scroll;
}
.chat_message{
    position: relative;
    font-size: 16px;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
    background-color: lightgreen;
    margin-bottom: 30px;
}
.chat_timestamp{
    margin-left:15px ;
    color: gray;
    font-size: xx-small;
}
.chat_name{
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: x-small;

}
.chat_reciever{
    margin-left: auto;
    background-color: lightskyblue;
}
.chat_footer{
    display: flex;
    justify-content: space-between;
    height: 62px;
    border-top: 1px solid lightgray;
    align-items: center;
}
.chat_footer > form {
    flex: 1;
    display: flex;
}
.chat_footer > form > input{
    flex: 1;
    border-radius: 30px;
    border:none;
    padding: 10px;
    outline-width:0 ;
}
.chat_footer > form > button{
    display: none;
}
.chat_footer > .MuiSvgIcon-root{
    padding: 10px;
    color: gray;
}